node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.rar
*.zip
*.psd
app2/
app-a.js
App2.js
AppFirst.js
app/components/forms/old/
app/screen/old/
app/navigation/old/





# macOS
.DS_Store
